<!DOCTYPE html>
<html>
<head>
    <title>Unihedron Sky Quality Meter</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <style>
        .container {
            margin-top: 2em;
        }
        h3 {
            margin-top: 1em;
        }
        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Unihedron Sky Quality Meter</h2>
    <h3>Current</h3>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Time [UT]</th>
            <th>Sensor temperature [C]</th>
            <th>Sensor frequency [Hz]</th>
            <th>Ticks uC</th>
            <th>Sky brightness [mag/arcsec^2]</th>
        </tr>
        </thead>
        {% if current is not None %}
        <tr>
            <td>{{ current.time.strftime("%Y-%m-%dT%H:%M:%S") }}</td>
            <td>{{ round(current.values['temp_sensor'], 2) }}</td>
            <td>{{ round(current.values['freq_sensor'], 2) }}</td>
            <td>{{ round(current.values['ticks_uC'], 2) }}</td>
            <td>{{ round(current.values['sky_brightness'], 2) }}</td>
        </tr>
        {% end %}
    </table>

    <h3>History</h3>
    <table class="table table-sm table-striped table-hover">
        <thead>
        <tr>
            <th>Time [UT]</th>
            <th>Sensor temperature [C]</th>
            <th>Sensor frequency [Hz]</th>
            <th>Ticks uC</th>
            <th>Sky brightness [mag/arcsec^2]</th>
        </tr>
        </thead>
        {% for h in history %}
        <tr>
            <td>{{ h.time.strftime("%Y-%m-%dT%H:%M:%S") }}</td>
            <td>{{ round(h.values['temp_sensor'], 2) }}</td>
            <td>{{ round(h.values['freq_sensor'], 2) }}</td>
            <td>{{ round(h.values['ticks_uC'], 2) }}</td>
            <td>{{ round(h.values['sky_brightness'], 2) }}</td>
        </tr>
        {% end %}
    </table>
</div>
</body>
</html>
